<h1>
  <%= @book.title %>
</h1>

<div id="content">
  <%= img_tag @book.image %>
  <blockquote>
    <%= raw @book.info %>
  </quote>
</div>

<span><%= link "Edit", to: Routes.book_path(@conn, :edit, @book) %></span>
<span><%= link "Back", to: Routes.book_path(@conn, :index) %></span>
